{% extends 'base.html' %}
{% block content %}
<section class="form-container">
  <h1>Log In</h1>
  <hr />
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
  
    <li>USERNAME</li>
    <li>{{ form.username }}</li>
    <li>PASSWORD</li>
    <li>{{ form.password }}</li>
    <div class="other-button ">
      <input type="submit" class="btn btn-outline-dark btn-sm"  value="login">

    </div>
    <input type="hidden" name="next" value="{{ next }}">
  </form>

</section>

{% endblock %}

