{% extends 'base.html' %}

{% block content %}
    <p class="note-container">Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        Enim quod, magni quia obcaecati molestiae quibusdam impedit nemo. Maiores, modi 
        laboriosam? Repellat, repudiandae similique. Cum et ex accusamus quas ratione 
        repellat.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim quod, 
        magni quia obcaecati molestiae quibusdam impedit nemo. Maiores, modi laboriosam? 
        Repellat, repudiandae similique. Cum et ex accusamus quas ratione repellat.</p>
{% endblock %}