{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Flash Notes</title>
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
  <script defer src="{% static 'app.js' %}"></script> 
  
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light mycolor">
    <div class="container-fluid">
      <a class="navbar-brand title-prop" href="/">Flashnotes</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          
          {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-link link-color">Hi {{ user.username }}!</a> </li>
            <li class="nav-item"><a class="nav-link link-color" href="{% url 'books' %}"> My Library </a></li>
            <li class="nav-item"><a class="nav-link link-color" href="{% url 'logout' %}"> Log out</a></li>
          {% else %}
            <li class="nav-item"><a class="nav-link link-color" href="{% url 'login' %}">Log in</a></li>
            <li class="nav-item"><a class="nav-link link-color" href="{% url 'sign_up' %}">Create an account</a></li>
          {% endif %}
          <li class="nav-item"><a class="nav-link link-color" href="{% url 'about' %}">About</a></li>
        </ul>
      </div>

    </div>
  </nav>


  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer">
    <div>Flashnotes &copy; 2021 </div>
  </footer>

</body>
</html>